	html{
		background: rgb(209,210,194);
  }
  
  	body {
		margin: 0px;
	}


.forms {
    background: rgb(251,251,249);
    padding: 25px 50px;
    max-width: 69%;

}

  .section{
    margin-bottom: 30px;
  }

  .outputs {
    padding: 10px;
  }

  .button {
    border: 3px solid;
    margin: 5px;
  }

  input[type="number"]:focus {
    background-color: #f0f8ff00;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 110%;
    width: 50%;
    font-weight: bold;
  }

  input[type="number"]{
    background-color: #f0f8ff00;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 110%;
    width: 50%;
    font-weight: bold;
  }

  input[type="range"] {
    width: 100%;
    margin: 7.6px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 212, 160, 0.2);
    border: 0.3px solid rgba(1, 0, 1, 0.3);
    border-radius: 25px;
    width: 100%;
    height: 7.8px;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb {
    margin-top: -7.9px;
    width: 12px;
    height: 23px;
    background: #f9fafc;
    border: 1.9px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ffe0ba;
  }

  input[type="range"]::-moz-range-track {
    background: rgba(255, 212, 160, 0.2);
    border: 0.3px solid rgba(1, 0, 1, 0.3);
    border-radius: 25px;
    width: 100%;
    height: 7.8px;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 23px;
    background: #f9fafc;
    border: 1.9px solid #000000;
    border-radius: 50px;
    cursor: pointer;
  }

  input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8.6px 0;
    color: transparent;
    width: 100%;
    height: 7.8px;
    cursor: pointer;
  }

  input[type="range"]::-ms-fill-lower {
    background: #ffc886;
    border: 0.3px solid rgba(1, 0, 1, 0.3);
    border-radius: 50px;
  }

  input[type="range"]::-ms-fill-upper {
    background: rgba(255, 212, 160, 0.2);
    border: 0.3px solid rgba(1, 0, 1, 0.3);
    border-radius: 50px;
  }

  input[type="range"]:focus::-ms-fill-lower {
    background: rgba(255, 212, 160, 0.2);
  }

  input[type="range"]:focus::-ms-fill-upper {
    background: #ffe0ba;
  }

    @media only screen and (max-width: 1111px) {
    .forms {
      max-width: 100%;
    }

    html{
		  background: rgb(251,251,249);
    }
  }
